@media (max-width: 900px){

    h1 {
        font-size: 2.2rem;
    }
    .one{
        width: 100%;
        height: 100vh;
    }
    .right{
        display: flex;
        align-items: center;
    }
    .centre p {
        font-size: 1.3rem;
    }
    .info h2{
        padding: 0.2rem;
    }
    .info{
        padding: 0.5rem;
    }
    .about{
        height: 100vh;
    }
    .about img{
        width: 10rem;
        height: auto;
    }
    .skills{
        height: 100vh;
    }
    .skills-right{
        display: none;
    }
    .skills-left{
        margin-top: 2rem;
        width: 100%;
        height: 90%;
    }
}
@media (max-width: 785px){

.left{
    display: none;
}
.one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.centre{
    width: 100%;
}
.right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.right img {
    width: 10rem;
}
.about-two,.about-three{
display: none;
}
.about{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.about-left , .about-right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skills{
    width: 100%;
    height: 100vh;
}
.contact{
    height: 95vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.contact img {
    display: none;
}
.contact-left {
    height: 80%;
    width: 100%;
    margin: 1.5rem;
}
.contact-right{
    display: flex;
    align-items: flex-start;
    height: 20%;
    width: 100%;

}
.contact-info p{
    font-size:1.1rem ;
    
}
form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 80%;
}
input,textarea{
    width: 90%;
    margin: 0.2rem;
    resize: none;
}
.send{
    font-size: 1rem;
    margin: 0.4rem;
    padding: 0.3rem;
}

footer{
    height: 5vh;
    font-size: 0.5rem;
}
}